/*
selector {
  style: value;
}
*/

img {
  width: 500px;
  height: 300px;
}
/*
блочный элемент не позволяет до и после себя на одной строке поставить другие элементы даже после изменения ширины
*/
p {
  width: 50px;
  border: 1px solid red;
}

a
{
  width: 1000px;
  height: 1000px;
}